env
.env
portfolioapp/media
.vscode
portfolioapp/users/__pycache__/
portfolioapp/accounts/__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
