{% extends 'base.html' %}
{% load static %}


{%block content %}
<base href="/">


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container">
	  <!-- <a class="navbar-brand" href="index.html"><span>R</span>onaldo</a> -->
	  <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="oi oi-menu"></span> Menu
	  </button>

	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav nav ml-auto">
			<li class="nav-item"><a href="profile" class="nav-link"><span>Proflie</span></a></li>
		  <li class="nav-item"><a href="accounts/logout" class="nav-link"><span>Logout</span></a></li>
		</ul>
	  </div>
	</div>
</nav>

<section class="ftco-section">
	<div class="col no-gutters justify-content-center pb-2">
		<div class="col-md-12 heading-section text-center">
			<h1 class="big big-2">Educations</h1>
			<h2 class="mb-4">Add/Edit Education</h2>
			<button type="button" onclick="location.href='educations/new'" class="btn btn-primary btn-lg">Add</button>
		</div>

	</div>
	<table class="table table-hover">
		<thead class="thead-dark">
		  <tr>
			<th scope="col">ID</th>
			<th scope="col">Collage Name</th>
			<th scope="col">Degree Name</th>
			<th scope="col">Major Name</th>
			<th scope="col">Start</th>
			<th scope="col">End</th>
			<th scope="col"></th>


		  </tr>
		</thead>
		<tbody>
			{%for education in user_educations%}
			<tr>
				<th scope="row">{{education.id}}</th>
				<td>{{education.college_name}}</td>
				<td>{{education.degree_name}}</td>
				<td  style="text-align: justify;">{{education.major_name}}</td>
				<td>{{education.college_start_month_year}}</td>
				<td>{{education.college_end_month_year}}</td>
				<td><button type="button" onclick="location.href='educations/{{education.id}}'" class="btn btn-primary">Edit</button>
					<button type="button" onclick="location.href='educations/{{education.id}}/delete'" class="btn btn-danger">Delete</button>
					</td>
			  </tr>
			{%endfor%}
		  
	
		</tbody>
	  </table>
	  
</section>


{% endblock %}
