{% extends 'base.html' %}
{% load static %}


{%block content %}
<base href="/">



<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container">
	  <!-- <a class="navbar-brand" href="index.html"><span>R</span>onaldo</a> -->
	  <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="oi oi-menu"></span> Menu
	  </button>

	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav nav ml-auto">
      <li class="nav-item"><a href="accounts/logout" class="nav-link"><span>Logout</span></a></li>
		  <li class="nav-item"><a href="/profile/{{request.user}}" class="nav-link"><span>Preview Portfolio</span></a></li>
      
          
		</ul>
	  </div>
	</div>
</nav>

<section class="ftco-section" >

    <div class="container-fluid px-md-5">
      <div class="row">
        <div class="col no-gutters justify-content-center pb-2">
          
            <div class="col-md-12 heading-section text-center">
                <h1 class="big big-2">Profile</h1>
                <h2 class="mb-4">User Photo</h2>
            </div >
            <div class="col" style="text-align: center;" >
            <img src="{{user_details_form.user_image.value.url}}"  style="width:256px;height:256px;" alt="Italian Trulli">
          </div>
          <div class="col no-gutters justify-content-center pb-2">
            <div class="col-md-12 heading-section text-center">
                <h1 class="big big-2">Profile</h1>
                <h2 class="mb-4">User Resume</h2>
            </div>
            <div class="col" style="text-align: center;">
            <p>Please check your resume <a target="_blank" href="{{user_details_form.user_resume.value.url}}">here</a>.</p>
            </div>
            
    
        </div>


        </div>
        <div class="col no-gutters justify-content-center pb-2">
          
          <div class="col-md-12 heading-section text-center">
              <h1 class="big big-2">Profile</h1>
              <h2 class="mb-4">User Details</h2>
          </div>
          <form action="" method="post" enctype="multipart/form-data" class="bg-light p-6 p-md-5 contact-form">
              {% csrf_token %}
    
              
            <div class="form-group fieldWrapper">
              <label for={{user_info_form.first_name.id_for_label}}>First Name</label>
              {{user_info_form.first_name}}
            </div>
            <div class="form-group fieldWrapper">
              <label for={{user_info_form.last_name.id_for_label}}>Last Name</label>
              {{user_info_form.last_name}}
            </div>
            <div class="form-group fieldWrapper">
              <label for={{user_info_form.username.id_for_label}}>Username</label>
              {{user_info_form.username}}
            </div>
            <div style="form-group fieldWrapper">
              <label for={{user_details_form.user_image.id_for_label}}>Profile Picture</label>
              {{user_details_form.user_image}}
            </div>
            <div style="form-group fieldWrapper">
              <label for={{user_details_form.user_resume.id_for_label}}>Resume</label>
              {{user_details_form.user_resume}}
            </div>
            <div class="form-group fieldWrapper">
              <label for={{user_info_form.email.id_for_label}}>Email</label>
              {{user_info_form.email}}
            </div>
            <div class="form-group fieldWrapper">
              <label for={{user_details_form.user_interest.id_for_label}}>User Interest</label>
              {{user_details_form.user_interest}}
            </div>
            <div class="form-group fieldWrapper">
              <label for={{user_details_form.user_address.id_for_label}}>User Address</label>
              {{user_details_form.user_address}}
            </div>
            <div class="form-group fieldWrapper">
              <label for={{user_details_form.user_project_completed.id_for_label}}>User Projects Completed</label>
              {{user_details_form.user_project_completed}}
            </div>
            <div class="form-group" style="text-align: center;" >
              <input type="submit" value="Save" class="btn btn-primary py-3 px-5 button-class" style="display: none;" id="save-button">
            </div>
            <div>
                {%for message in messages%}
            <h4> {{message}} </h4>
            {%endfor%}
        </div>
          </form>

      </div>
      <div class="col no-gutters justify-content-center pb-2">
        <div class="col-md-12 heading-section text-center">
            <h1 class="big big-2">Profile</h1>
            <h2 class="mb-4">Add/Edit</h2>
        </div>
       
        <div class="col page" style="text-align: center;">
          <h3 class="page heading"><a href="education" target="_blank">Education</a></h3>
        </div>
        <div class="col page" style="text-align: center;">
          <h3 class="page heading"><a href="experience" target="_blank">Experiences</a></h3>
        </div>
        <div class="col page" style="text-align: center;">
          <h2 class="page heading"><a href="project" target="_blank">Projects</a></h2>
        </div>
        <div class="col page" style="text-align: center;">
          <h2 class="page heading"><a href="skill" target="_blank">Skills</a></h2>
        </div>
        <div class="col page" style="text-align: center;">
          <h2 class="page heading"><a href="publication" target="_blank">Publications</a></h2>
        </div>
        <div class="col page" style="text-align: center;">
          <h2 class="page heading"><a href="award" target="_blank">Awards</a></h2>
        </div>

    </div>
    </div>
    </div>
</section>
<script >
  let anyThingChanged=new Map();
    function myFunction() {
        var x = document.getElementById(event.toElement.id);
        document.getElementById(event.toElement.id).readOnly = false;
       
      }
    
      function checkDictTrue(map){
        for (let v of map.values()) {
          if (v === true) { 
            return true; 
          }
        }  
        return false;

      }
    function checkInputChanged(id){

      var name = id;

        if (name.value != name.defaultValue){
            anyThingChanged.set(name.id,true);
            showButton();
        }
        else{
          anyThingChanged.set(name.id,false);

        }
        if (checkDictTrue(anyThingChanged)===false){
          hideButton();
        }
       
        
    }

    function showButton(){
      var x = document.getElementById("save-button");
      x.style.display = "block";

    }

    function hideButton(){
      var x = document.getElementById("save-button");
      x.style.display = "none";

    }
    
</script>
{% endblock %}
