{% extends 'base.html' %}
{% load static %}


{%block content %}
<base href="/">

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container">
	  <!-- <a class="navbar-brand" href="index.html"><span>R</span>onaldo</a> -->
	  <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="oi oi-menu"></span> Menu
	  </button>

	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav nav ml-auto">
		  <li class="nav-item"><a href="accounts/logout" class="nav-link"><span>Logout</span></a></li>
          
		</ul>
	  </div>
	</div>
</nav>

<section class="ftco-section" >
    <div class="container-fluid px-md-0">
        <div class="row no-gutters justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center">
                <h1 class="big big-2">Profile</h1>
                <h2 class="mb-4">User Details</h2>
            {{user_details_form.as_p}}
            </div>

        </div>
    </div>
</section>

{% endblock %}
