{% extends 'base.html' %}

{% load static %}
{%block title%}
{%if model_name == "Education" or model_name == "Experience" or model_name == "ContactDetails"%}
{{user.first_name}} {{model_name}}
{%else%}
{{user.first_name}} {{model_name}}s
{%endif%}
{% endblock %}


{%block content %}
<base href="/">


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container">
	  <!-- <a class="navbar-brand" href="index.html"><span>R</span>onaldo</a> -->
	  <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="oi oi-menu"></span> Menu
	  </button>
	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav nav ml-auto">
			<li class="nav-item"><a href="profile" class="nav-link"><span>Profile</span></a></li>
			<li class="nav-item"><a href="/profile/{{request.user}}" class="nav-link"><span>Preview Portfolio</span></a></li>

		  <li class="nav-item"><a href="accounts/logout" class="nav-link"><span>Logout</span></a></li>
		</ul>
	  </div>
	</div>
</nav>

<section class="ftco-section">
	<div class="col no-gutters justify-content-center pb-2">
		<div class="col-md-12 heading-section text-center">
			{%if model_name == "Education" or model_name == "Experience" or model_name == "ContactDetails"%}
			<h2 class="mb-4">{{model_name}}</h2>
			{%else%}
			<h2 class="mb-4">{{model_name}}s</h2>
			{%endif%}
			<button type="button" onclick="location.href='user/{{type_of_user_detail}}/new'" class="btn btn-primary btn-lg">Add</button>
		</div>

	</div>
	<table class="table table-hover">
		<thead class="thead-dark">
		  <tr>
			{%for field in fieldlist%}
			<th scope="col" style="text-align: center;">{{field}}</th>
			{%endfor%}
			
			<th scope="col"></th> 


		  </tr>
		</thead>
		<tbody>
			{%for details in user_forms%}
			<tr>
				{%for name,value in details.get_fields%}
				{%if  "image" in name and value%}
				<td style="text-align: center;"><a href="{{value.url}}"  target="_blank">Image</a></td>

				{%elif "url" in name and value %}
				<td style="text-align: center;"><a href="{{value}}" target="_blank">Url</a></td>
				{%else%}
				<td style="text-align: center;">{{value}}</td>
				{%endif%}

				{%endfor%}
				
				<td><button type="button" onclick="location.href='user/{{type_of_user_detail}}/{{details.id}}'" class="btn btn-primary">Edit</button>
					<button type="button" onclick="location.href='user/{{type_of_user_detail}}/{{details.id}}/delete'" class="btn btn-danger">Delete</button>
				</td>
			</tr>
			{%endfor%}
		</tbody>
	  </table>
	  
</section>


{% endblock %}
